.campaign-page{
 display: flex;
 flex-direction: column;
height: 100%;
background-color: #000;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 2px;

}
.campaign-page p {
  color: white;
    text-shadow: 0 0 3px white;
    text-align: center;
}


.cards {
    width: 100%;
    display: flex;
    position: relative;
  text-align: center;
  background-color:  #000;
 
}
.card {
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card:hover {
    cursor: pointer;
}
h2, h1 {
    color: white;
    text-shadow: 0 0 3px white;
}


h2 {
    position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.greenCard {
    background-image: url("../assets/greencard.png");
}
.yellowCard {
    background-image: url("../assets/yellowcard.png");
}
.blueCard {
    background-image: url("../assets/bluecard.png");
}
.purpleCard {
    background-image: url("../assets/purplecard.png");
}

  /* The actual popup (appears on top) */
  .popup .popuptext {
    display: none;
    width: 100vh;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%;
    left: 50%;
    margin-left: -80px; */
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    /* top: 100%;
    left: 50%; */
    /* margin-left: -5px;
    border-width: 5px; */
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* lineup class and keyframes */
.lineUp {
  animation: 2s anim-lineUp ease-out ;
font-size: 40px;
  color: #ffff;
  margin: 5%;

}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@media only screen and (max-width: 600px){
  .lineUp{
font-size: 20px;

  }
  .title{
  padding-top: 10%;
}

  
}
