#contact-form {
  
 text-align: center;
  display: flex;
  flex-direction: column;
    padding: 20px;
   align-items: center;
  
  }
  #contact-form input, #contact-form textarea {
    width: 50%;
    border: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  #contact-form textarea {
    height: 100px;
    resize: vertical;
    border: 1px solid #FF6B00;
    background-color: #FFF;
  }
  #contact-form button {
    
    border: 0;
    cursor: pointer;
    background: #FF6B00;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
  
    padding: 10px 25px;
    color: #FFF;
  }
  #contact-form span {
    display: none;
    text-align: center;
  }
  #contact-form span.visible {
    display: block;
  }
  