#contact-form {
  
 text-align: center;
  display: flex;
  flex-direction: column;
    padding: 20px;
   align-items: center;
  
  }
  #contact-form input, #contact-form textarea {
    width: 50%;
    border: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  #contact-form textarea {
    min-height: 150px;
    width: min(80%, 500px);
    resize: vertical;
    background-color: #FFF;
    background: #FEFBFC;
    /* border: 1px solid #3488C1; */
    box-shadow: 0px 4px 25px #3488C1;
    border-radius: 25px;
    padding: 1.2rem;
  }
  #contact-form button {
    
    border: 0;
    cursor: pointer;
    background: #FF6B00;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
  
    padding: 10px 25px;
    color: #FFF;
  }
  #contact-form span {
    display: none;
    text-align: center;
  }
  #contact-form span.visible {
    display: block;
  }
  #contact-form > button {
    border-radius: 20px;
    width: 8rem;
    background-color: var(--blue);
  }