.footer-section{
    display: grid;
    grid-template-columns: 1fr; 
    padding: 4rem 1.2rem;
    background-color: var(--blue3);
}


.footer-icons{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
}

.footer-logo{
    width: 100%;
    max-width: 300px;
}
.footer-message{
    text-align: center;
    column-gap: 0;
}
.footer-message span{
    color: var(--blue);
    font-weight: bold;
}


