.footer-section{
    display: grid;
    grid-template-columns: 1fr; 
    padding: 4rem 1.2rem;
}
.footer-section > div{
    /* stops icons from growing too much */
    max-width: 1000px;
    margin: 0 auto;
}

.footer-icons{ 
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
}

.footer-logo{
    width: 100%;
}
.footer-message{
    text-align: center;
    column-gap: 0;
}
.footer-message span{
    color: var(--blue);
    font-weight: bold;
}


