/* Frontpage Hero ------------------------------------------- */
.box2_green {
    border-radius: 50%;
    background-color: #25392a ;
    width:250px;
    height:250px;
    position:relative;
  
    animation-name: box2_green;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    filter: blur(80px);
    animation-direction:alternate;
    margin-top:-10%;
    z-index:10;
    position:relative;
    
   
    
}

@keyframes box2_green {
    from {
       
        margin-left:40%;

    }
    to {
      
        margin-left:70%;
    }
} 



/* ----------------------------------- */
.HomescreenComponent{
    background-color: var(--background);
}

.Homescreen {
    width: 100vw;
    height: 100vh;
    background-color: #15161D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.HomescreenComponent :is(p, h1, h2) {
    padding: 0rem 2rem;
}

.talkAbout {
    font-size: clamp(3rem, 10vw, 6rem);
    color: white;
}

.loneliness {
    font-size: clamp(3rem, 10vw, 6rem);
    color: white;
}



/* Image with text ----------------------------------------*/

.imgSection{
    position: relative;
    color: white;
    background-attachment: fixed;

    padding-bottom: 2rem;
    
}

.cityIMG{
    width: 100%;
    height: clamp(5rem, 40vh, 40rem);
    object-fit: cover;

    margin-bottom: -7rem;
}

/* * {
    border: 1px solid red;
} */

.textContainer{
   margin-bottom: 8rem;
}

/* Font sizes */
.textContainer h1{
    font-size: clamp(3rem, 4vw, 4rem);
}
.textContainer p {
    font-size: clamp(1.25rem, 2vw, 2rem);
}



@media screen and (min-width: 600px) {
    .textContainer{
        max-width: 70%;
        margin-left: auto;
        margin-right: 10%;
    }
}


