.HomescreenComponent{
    background-color: var(--background);
}

.Homescreen {
    width: 100vw;
    height: 100vh;
    background-color: #15161D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.HomescreenComponent :is(p, h1, h2) {
    padding: 0rem 2rem;
}

.talkAbout {
    font-size: clamp(3rem, 10vw, 6rem);
    color: white;
}

.loneliness {
    font-size: clamp(3rem, 10vw, 6rem);
    color: white;
}



/* Image with text ----------------------------------------*/

.imgSection{
    position: relative;
    color: white;
    background-attachment: fixed;

    padding-bottom: 2rem;
    
}

.cityIMG{
    width: 100%;
    height: clamp(5rem, 40vh, 40rem);
    object-fit: cover;

    margin-bottom: -7rem;
}

/* * {
    border: 1px solid red;
} */

.textContainer{
   margin-bottom: 8rem;
}

/* Font sizes */
.textContainer h1{
    font-size: clamp(3rem, 4vw, 4rem);
}
.textContainer p {
    font-size: clamp(1.25rem, 2vw, 2rem);
}



@media screen and (min-width: 600px) {
    .textContainer{
        width: min(70%, 1600px);
        margin-left: auto;
        margin-right: 10%;
    }
}


