#initiatives{
  margin-top: 10rem;
}

.initiatives-section{
    /* margin: 5% 5% 5% 5%; */
    background-color: var(--blue3);
    padding: 4rem 0rem;
}


.initiatives-cards{
  display: grid;
  grid-template-columns: 291px;
  gap: 2rem;
  max-width: 1000px;
  justify-content: center;
  margin: 0 auto;
  /* text-align: center; */
}


.initiative-card{
   margin: 2% 0 0 0; 
   display: flex; 
  flex-direction: column;
  filter: drop-shadow(0px 4px 25px #d9d9d9);
}

.initiatives-header{
    color: #000;
    text-align: center;
    margin-bottom: 3rem;
}



.initiative-img{
width: 100%;
height: 10rem;
object-fit:cover
}

.initiative-content{
background-color: var(--blue2);
color: white;
}

.initiative-text{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;

  font-size: 2rem !important;
}

.initiative-description{
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 500px) {
  .initiatives-cards{
  grid-template-columns: 250px 250px;
  justify-content: space-around;
  /* max-width: 500px; */
  }

  .initiative-description{
  min-height: 250px;
}

}