.insta-section{
    margin: 5% 5% 0 5%;
    
}

.insta-section h1{
    color: #000;
text-align: center;
}

.insta-videos{
display: grid;

}

.insta-paragraph{
  margin: 5% 25% 5% 25%;
  text-align: center;  
}

@media only screen and (max-width: 700px){
  .insta-videos{

    grid-template-columns: 1fr;
  }
 

}

@media only screen and (min-width: 700px){
  .insta-videos{

    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (min-width: 1400px){
  .insta-videos{

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

