.instagram-section{
  background-color: var(--blue3);
  padding-top: 8rem;
}

.insta-videos{
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.insta-section h1{
    color: #000;
text-align: center;
}

.insta-videos{
display: grid;

}

*{
  /* border: 1px solid red; */
}

.insta-paragraph{
  margin-bottom: 4rem;
  text-align: center;  
  /* padding: 0 1.2rem; */
}

.break-taboo{
  padding: 3rem 0;
  background-color: white;
}

.break-taboo__div{
  max-width: min(80%, 500px);
  margin: 0 auto;
  
}

.break-taboo__div p{
  margin-right: auto;
  text-align: right;
  font-size: 2rem;
  font-size: clamp(3rem, 4vw, 4rem);
}

.break-taboo span{
  color: var(--blue);
  margin-left: auto;
}





@media only screen and (max-width: 700px){
  .insta-videos{

    grid-template-columns: 1fr;
  }
 

}

@media only screen and (min-width: 700px){
  .insta-videos{

    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (min-width: 1400px){
  .insta-videos{

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

