.bg {
    width: 100%;
    background-color: #155cada1;
    padding: 2em 0;
  }
  
  .middle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  
  .container .pa {
    background-image: url(../assets/bluecard.png);
  }
  
  .container .ist {
    background-image: url("../assets/greencard.png");
  }
  
  .container .fir {
    background-image: url("../assets/purplecard.png");
  }
  .pa,
  .ist,
  .fir {
    letter-spacing: 1em;
  }
  
  .container .parallax {
    width: 100%;
    padding: 25em 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;

  }