/* Our CSS ------------------------- */

#youCanHeader{
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin: 2rem 0rem;
  text-align: center;
}

#TimelineComp{
  background-color: var(--blue3);
  margin-top: 10rem;
  padding-top: 5rem;
}

.vertical-timeline-element-content-arrow{
  display: none;
}

.vertical-timeline-element-icon {
  color: red;
}

/* Their CSS ------------------------------- */

wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeline {
    height: 300px;
    width: 5px;
    background-color: #e5e5e5;
  }
  
  .stub1 {
    line-height: 300px;
    font-size: 24px;
    background-color: #eae4e4;
  }
  
  .stub2 {
    height: 1000px;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    background-color: #e5e5e5;
  }
  
  .circleWrapper {
    position: relative;
  }
  
  .message {
    position: absolute;
    top: 20%;
    left: 50%;
    min-width: 150px;
    font-weight: bold;
  }
  