@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lato:wght@400;700&display=swap");

/* Fonts and effects ------------------------- */

:root {
  --warm1: #FFF7EE;
  --warm2: #FFDBC2;
}


.labelle{
  font-family: 'La Belle Aurore', cursive;
}
.lato{
  font-family: 'Lato', sans-serif; 
}

h1{ font-size: clamp(3rem, 4vw, 4rem);}
p {font-size: clamp(1.25rem, 2vw, 2rem)}

.neon--green {
    color:white;
    font-family: 'La Belle Aurore', cursive;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
.neon--blue {
    color:white;
    font-family: 'La Belle Aurore', cursive;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 187, 255),
    0 0 82px rgb(0, 187, 255),
    0 0 92px rgb(0, 187, 255),
    0 0 102px rgb(0, 187, 255),
    0 0 151px  rgb(0, 187, 255),
}
.neon--yellow {
    color:white;
    font-family: 'La Belle Aurore', cursive;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(227, 243, 0),
    0 0 82px  rgb(227, 243, 0),
    0 0 92px rgb(227, 243, 0),
    0 0 102px  rgb(227, 243, 0),
    0 0 151px  rgb(227, 243, 0),
}
.neon--purple {
    color:white;
    font-family: 'La Belle Aurore', cursive;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(198, 11, 155),
    0 0 82px rgb(198, 11, 155),
    0 0 92px rgb(198, 11, 155),
    0 0 102px rgb(198, 11, 155),
    0 0 151px rgb(198, 11, 155),
}
.yellow-gradient {
background: linear-gradient(180.26deg, #FFD12D 0.23%, rgba(32, 71, 24, 0) 120.39%);
background-clip: text;
background-size: 100%;
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}
.green-gradient {
background-image: linear-gradient(180.26deg, #77E062 0.23%, rgba(32, 71, 24, 0) 120.39%);
background-clip: text;
background-size: 100%;
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}
.blue-gradient {
background: linear-gradient(178.12deg, #8596D2 1.59%, rgba(32, 71, 24, 0) 184.69%);
background-clip: text;
background-size: 100%;
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}
.purple-gradient {
background: linear-gradient(180.26deg, #F25BFF 0.23%, rgba(32, 71, 24, 0) 120.39%);
background-clip: text;
background-size: 100%;
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

/* ------------------------- */


body {
  overflow-x: hidden;
  background-color: #FFF7EE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s linear;
  /* border: 1px solid red; */

  font-family: 'Lato', sans-serif; 
}


html{
  scroll-behavior: smooth;
}

#description {
  margin: 1.5em 0 2em 0;
}

.main {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}


.sec{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
  letter-spacing: 2px;
}

.sec:nth-child(odd){

}
